<ion-view view-title="{{ title }}" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-positive">
  
  <div class="buttons">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/map/{{ content }}/{{ category }}"></a>
  </div>
    <h1 class="title">Dettaglio itinerario</h1>
  <div class="buttons">
    <a class="button button-icon icon ion-share" ng-click="share(explore.title, explore.meta[4].value, explore.meta[5].value)"></a>
  </div>
    
  </div>

</ion-header-bar>
  <ion-content class="has-header">

      <div class="list card" ng-if="dataOk">

        <div class="item item-text-wrap">
          <h1> {{ explore.title }}</h1>
          <div ng-bind-html="explore.meta[12].value | stars"></div>
          <h3> Tempo di percorrenza <strong>{{ explore.meta[1].value }}</strong>
          </h3>
          
        </div>

        <!--
        <div class="item item-text-wrap" ng-if="!isMedia" align="center">
          <ion-spinner icon="lines"></ion-spinner>
        </div>
        -->

        <!-- immagini -->
        <!--
        <div class="item item-image" 
             ng-repeat="media in medias"
             ng-if="isMedia">
          
          <ion-spinner icon="spiral" ng-if="!isMedia"></ion-spinner>
          <img ng-src="{{ media.url }}"></img>
        -->
        <div class="item item-image"
             ng-if="isMedia">
          <img cache-src="{{ explore.media[0].url }}"></img>
        </div>

        <div class="item item-body item-text-wrap">

          <div class="list list-inset">
            <div class="item">
              <h4>Partenza</h4>
              {{ explore.meta[4].value }}
            </div>
            <div class="item">
              <h4>Arrivo</h4>
              {{ explore.meta[5].value }}
            </div>
            <div class="item">
              <h4>Mezzi consigliati</h4>
              {{ explore.meta[2].value }}
            </div>
            <div class="item">
              <h4>Periodo</h4>
              {{ explore.meta[6].value }}
            </div>
          </div>

          <leaflet id="map_explore"
                   geojson="geojson"
                   defaults="defaults">
          </leaflet>
          
          <h3>Caratteristiche</h3>
          <p>
            {{ explore.meta[3].value }}
          </p>

          <h3>Punti di sosta</h3>
          <p>
            {{ explore.meta[7].value }}
          </p>

          <h3>Descrizione</h3>
          <p>
            {{ text }}
          </p>
        </div>

      </div>

  </ion-content>
</ion-view>
