<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ route_name }}">
  <ion-content class="padding">
    <p>
      <div class="list" collection-repeat="route in routes">

        <a class="item item-avatar item-text-wrap" href="#">
          <img src="img/markers/{{ route.meta[1].value }}">
          <h2>{{ route.name }}</h2>
          <h3>{{ route.address }}</h3>
          <p>{{ route.meta[2].value }}, {{ route.meta[4].value }}, {{ route.meta[5].value }} </p>
        </a>
    </div>

    </p>
  </ion-content>
</ion-view>
