<ion-view view-title="{{ title }}" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <a class="button button-icon icon ion-ios-navigate-outline" href="#/tab/explore"> Itinerari</a>
  </div>
  <h1 class="title">{{ explore.title }}</h1>
</ion-header-bar>
  <ion-content class="has-header">

      <div class="list card" ng-if="dataOk">

        <div class="item item-text-wrap">
          <h1 class="main-heading"> {{ explore.title }}</h1>
          <div ng-bind-html="explore.meta[12].value | stars"></div>
          <h3 class="sub-heading"> Tempo di percorrenza <strong>{{ explore.meta[1].value }}</strong></h3>
          
        </div>

        <div class="item item-text-wrap" ng-if="!isMedia" align="center">
          <ion-spinner icon="lines"></ion-spinner>
        </div>

        <!-- immagini -->
        <div class="item item-image" 
             ng-repeat="media in medias"
             ng-if="isMedia">
          <ion-spinner icon="spiral" ng-if="!isMedia"></ion-spinner>
          <img ng-src="{{ media.url }}"></img>
        </div>

        <div class="item item-body item-text-wrap">

          <div class="list list-inset">
            <div class="item">
              <h4>Partenza</h4>
              {{ explore.meta[4].value }}
            </div>
            <div class="item">
              <h4>Arrivo</h4>
              {{ explore.meta[5].value }}
            </div>
            <div class="item">
              <h4>Mezzi consigliati</h4>
              {{ explore.meta[2].value }}
            </div>
            <div class="item">
              <h4>Periodo</h4>
              {{ explore.meta[6].value }}
            </div>
          </div>

          <leaflet id="map_explore"
                   geojson="geojson"
                   defaults="defaults">
          </leaflet>
          
          <h3>Caratteristiche</h3>
          <p>
            {{ explore.meta[3].value }}
          </p>

          <h3>Punti di sosta</h3>
          <p>
            {{ explore.meta[7].value }}
          </p>

          <h3>Descrizione</h3>
          <p>
            {{ explore.text }}
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#/tab/pois/{{ category }}">
            <i class="icon ion-ios-location"></i>
            Punti di Interesse
          </a>
          <!--
          <a class="tab-item" href="#" ng-click="share()">
            <i class="icon ion-share"></i>
            Share
          </a>
          -->
        </div>

      </div>

  </ion-content>
</ion-view>
