<ion-view view-title="{{ title }}" hide-nav-bar="true" cache-view="false"> 
  
  <ion-header-bar align-title="left" class="bar-positive">
    
    <div class="button-bar">
        <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/explore"></a>
        <a class="button button-clear" href="#/tab/explore/{{ content }}/{{ category }}"><i class="icon ion-ios-information-outline"></i></a>
        <h1 class="title">{{ title }}</h1>
        <a class="button button-clear" ng-click="openFilters()" bg><i class="icon ion-ios-search"></i></a>
        <a class="button button-icon icon ion-ios-list-outline" href="#/tab/pois/{{ content }}/{{ category }}"></a>
    </div>

  </ion-header-bar>

  <ion-content data-tap-disabled="true" class="has-header" ng-show="isMap">
      <leaflet id="map"
               center="center" 
               defaults="defaults"
               geojson="geojson">
      </leaflet> 
  </ion-content>
</ion-view>