<div style="background: none;">

 
</div>

<!-- Wikitude library -->
<script src="architect://architect.js"></script>
<script type="text/javascript" src="lib/wikitude/marker.js"></script>
<script type="text/javascript" src="lib/wikitude/selectingPOIs.js"></script>


<!--
<ion-view view-title="{{ title }}" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-positive">
  <h1 class="title">Realtà aumentata</h1>
</ion-header-bar>
  <ion-content class="has-header" style="background: none;">

 
  </ion-content>
  
</ion-view>
-->