<ion-view view-title="{{ title }}" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-positive">
  
  <div class="buttons">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/map/{{ content }}/{{ category }}"></a>
  </div>
  <h1 class="title">Dettaglio POI</h1>
  <div class="buttons">
    <a class="button button-icon icon ion-share" ng-click="share(poi)" href="#"></a>
  </div>

</ion-header-bar>

  <div class="bar bar-subheader bar-dark">
    <div class="button-bar">
      <a class="button button-icon icon ion-android-map" href="#/tab/route/{{ content }}/{{ category }}/{{ poi.id }}/{{ poi.lat }}/{{ poi.lon }}"></a>
      <a class="button button-icon button-clear icon ion-android-camera" ng-click="openGallery()" ng-show="isGallery"></a>
      <a class="button button-icon button-clear icon ion-android-image" ng-click="open360()" ng-show="is360"></a>
      <a class="button button-icon button-clear icon ion-android-volume-up" ng-click="openAudio()" ng-show="isAudio"></a>
      <a class="button button-icon button-clear icon ion-android-film" ng-click="openVideo()" ng-show="isVideo"></a>
    </div>
  </div>

  <ion-content class="has-header has-subheader">
      
      <div class="list card" ng-if="dataOk">

        <div class="item item-avatar">
          <img src="img/markers/{{ poi.meta[1].value }}" width="32px" height="37px" />
          <h2 class="main-heading"> {{ poi.title }} </h2>
          <h3 class="sub-heading"> {{ poi.address }} </h3>
          <p> {{ poi.meta[2].value }} </p>
        </div>

        <div class="item item-text-wrap" ng-if="!isMedia" 
            align="center">
          <ion-spinner icon="lines"></ion-spinner>
        </div>

        <div class="item item-image" 
             ng-repeat="media in medias"
             ng-if="isMedia">
          <img ng-src="{{ media.url }}"></img>
        </div>
        
        <div class="item item-body item-text-wrap">
          <p>
            {{ poi.text }}
          </p>

          <leaflet id="map_poi"
                 geojson="geojson"
                 canter="center"
                 defaults="defaults">
          </leaflet>
        </div>

        <!--
         <div class="panoramabox">
          <iframe src="http://itinerari.galcapodileuca.it/media/panorama/Complesso di Santa Maria di Leuca del Belvedere.html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        -->
        
      </div>

  </ion-content>
</ion-view>
