<ion-view view-title="{{ title }}" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-positive">
  
  <div class="buttons">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/map/{{ content }}/{{ category }}"></a>
  </div>
  <h1 class="title">{{ui[0]}}</h1>
  <div class="buttons">
    <a class="button button-icon icon ion-android-map" href="#/tab/route/{{ content }}/{{ category }}/{{ poi.id }}/{{ poi.lat }}/{{ poi.lon }}"></a>
    <a class="button button-icon icon ion-share" ng-click="share(poi)" href="#"></a>
  </div>

</ion-header-bar>

   <ion-content class="has-header">
      
      <div class="list card" ng-if="dataOk">

        <div class="item item-avatar">
          <img src="img/markers/{{ poi.meta[1].value }}" width="32px" height="37px" />
          <h2> {{ poi.title }} </h2>
          <h3> {{ poi.address }} </h3>
          <p> {{ poi.meta[2].value }} </p>
        </div>

        <div class="item item-image">
          <img cache-src="{{ poi.media[0].url }}"></img>
        </div>
        
        <div class="item item-body item-text-wrap">

        <p>
            {{ text }}
        </p>  
          <leaflet id="map_poi"
                 geojson="geojson"
                 canter="center"
                 defaults="defaults">
          </leaflet>
        </div>
        
      </div>

  </ion-content>

  <ion-side-tabs on-expand="tabExpand(index)" on-collapse="tabCollapse(index)">
    

    <ion-side-tab class="dark-bg" style="border-radius: 10px;">
      <ion-side-tab-handle width="40" height="50" toggle="ion-ios-information ion-ios-information-outline" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-ios-information"></i></ion-side-tab-handle>
      
      <!-- Meta informazioni -->

    </ion-side-tab>

    <ion-side-tab class="dark-bg" style="border-radius: 10px;" ng-show="isGallery">
      
      <ion-side-tab-handle width="40" height="50" toggle="ion-android-camera ion-android-camera" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-android-camera"></i></ion-side-tab-handle>
        <!--
        <ion-gallery ion-gallery-items="medias"></ion-gallery>
        -->
        <ion-content>
          <h3 align="center" style="color: #FFFFFF">Gallery</h3>
          <div class="list card">
            <div class="item item-image" ng-repeat="media in medias">
              <img cache-src="{{ media.src }}"></img>
            </div>
          </div>
        </ion-content>

    </ion-side-tab>

    <ion-side-tab class="dark-bg" style="border-radius: 10px;" ng-show="is360">
      <ion-side-tab-handle width="40" height="50" toggle="ion-android-image ion-android-image" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-android-image"></i></ion-side-tab-handle>
      
      <div ng-bind-html="url_tre"></div>

    </ion-side-tab>

    <ion-side-tab class="dark-bg" style="border-radius: 10px;" ng-show="isVideo">
      <ion-side-tab-handle width="40" height="50" toggle="ion-android-film ion-android-film" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-android-film"></i></ion-side-tab-handle>
      
      <div class="video-container">
          <div ng-bind-html="video_url"></div>
      </div>

    </ion-side-tab>

    <ion-side-tab class="dark-bg" style="border-radius: 10px;" ng-show="isAudio">
      <ion-side-tab-handle width="40" height="50" toggle="ion-android-volume-up ion-android-volume-up" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-android-volume-up"></i></ion-side-tab-handle>
      
      <div class="button-bar">
        <a class="button" ng-click="playAudio(url_Audio)"><i class="icon ion-play"></i></a>
        <a class="button" ng-click="pauseAudio()"><i class="icon ion-pause"></i></a>
        <a class="button" ng-click="stopAudio()"><i class="icon ion-stop"></i></a>
      </div>

    </ion-side-tab>

  </ion-side-tabs>

</ion-view>
