<ion-view view-title="{{ title }}" hide-nav-bar="true" cache-view="false"> 
  
  <ion-header-bar align-title="left" class="bar-positive">
    
    <div class="buttons">
        <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/explore"></a>
    </div>
    <div class="h1 title">{{ title }}</div>
    </div>

  </ion-header-bar>

  <div class="bar bar-subheader bar-dark">
    <div class="button-bar">
      <a class="button button-icon button-clear icon ion-ios-paper" href="#/tab/explore/{{ content }}/{{ category }}"> Dettagli</a>
      <a class="button button-icon button-clear icon ion-ios-toggle" ng-click="openFilters()" bg> Filtri</a>
      <a class="button button-icon button-clear icon ion-ios-list-outline" href="#/tab/pois/{{ content }}/{{ category }}"> Lista POI</a>
    </div>
  </div>
  
  <ion-content data-tap-disabled="true" class="has-header has-subheader">
      <leaflet id="map"
               center="center" 
               defaults="defaults"
               geojson="geojson">
      </leaflet> 
  </ion-content>

</ion-view>