<ion-view view-title="{{ title }}" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <a class="button button-icon icon ion-ios-navigate-outline" href="#/tab/explore/{{ id }}"></a>
  </div>
  <h1 class="title">{{ title }}</h1>
  <div class="buttons">
    <a class="button button-icon icon ion-ios-location" href="#/tab/map/{{ id }}"></a>
  </div>
</ion-header-bar>
  <ion-content class="has-header">
    <div class="list" ng-repeat="poi in pois">
      <div class="item item-button-right item-text-wrap fadeInUp">
        {{ poi.title }}
        <h3>{{ poi.address }}</h3>
        <h4>{{ poi | distance_poi }}</h4>
        <p>{{ poi.text }}</p>
        <button class="button button-positive" ng-click="viewRoute(id, poi.id, poi.lat, poi.lon)">
          <i class="icon ion-android-map"></i>
        </button>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#/tab/poi/{{ category }}/{{poi.id}}/{{poi.lat}}/{{poi.lon}}">
            <i class="icon ion-ios-information-outline"></i>
            More Info
          </a>
          <a class="tab-item" href="#/tab/route/{{ id }}/{{ poi.id }}/{{ poi.lat }}/{{ poi.lon }}">
            <i class="icon ion-android-map"></i>
            Indicazioni
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
