<ion-view view-title="Itinerari" hide-nav-bar="true">

  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title"><a href="#/tab/home"><img src="img/logo/logo-gal_tra_small.png"></img></a></h1>
    <div class="buttons">
      <button class="button" ng-click="download()"><i class="icon ion-ios-cloud-download"></i></button>
    </div>
    
  </ion-header-bar>
  <div class="bar bar-subheader bar-positive">
      <h4 class="title">Selezionare uno degli itinerari</h4>
    </div>
  <ion-content class="has-header has-subheader">

      <div class="list card" 
           collection-repeat="route in routes">

        <a class="item item-thumbnail-left item-text-wrap" href="#/tab/map/{{route._content}}/{{route._categories}}" ng-style="route.style">
          <img src="{{ route.image }}">
          <h2>{{ route.title }}</h2>
        </a>

      </div>
        
  </ion-content>
</ion-view>
