<ion-view view-title="Itinerari" hide-nav-bar="true">

  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title"><a href="#/tab/home"><img src="img/logo/logo-gal_tra_small.png"></img></a></h1>
    <div class="buttons">
      <button class="button" ng-click="download()"><i class="icon ion-ios-cloud-download"></i></button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header">
      
      <div class="list card" 
           collection-repeat="route in routes">

        <a class="item item-thumbnail-left item-text-wrap" href="#/tab/explore/{{route._content}}/{{route._categories}}">
          <img src="{{route.image}}">
          <h2 class="promo-heading">{{route.title}}</h2>
          <p>{{route.description}}</p>
        </a>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#/tab/explore/{{route._content}}/{{route._categories}}">
            <i class="icon ion-ios-information-outline"></i>
            More Info
          </a>
          <a class="tab-item" href="#/tab/pois/{{ route._content }}/{{route._categories}}">
            <i class="icon ion-ios-location"></i>
            Punti di Interesse
          </a>
        </div>
      </div>
        
  </ion-content>
</ion-view>
