<ion-view view-title="Navigatore">
	<ion-content>
		<div class="list">
			<a class="item item-thumbnail-left item-text-wrap" href="#">
				<img align="center" src="img/compass/compass_380.png"
					id="compass" 
					width="100%"
					height="100%" 
					on-hold="getPois()"
					ng-style="
					 {
				 	'transform': transform, 
					'-webkit-transform': transform, 
					'-ms-transform': transform,
					'-o-transform': transform, 
					'transform': transform
				}" />
				<h2 class="promo-text" ng-if="isLocation" align="center">
					<i class="icon ion-ios-location"></i> {{ location.latitude | number: 4 }}, {{ location.longitude | number: 4 }}
				</h2>
				<button class="button button-full button-positive" ng-click="search()">
					Cerca verso <strong>{{ magnetic | magnetic_ext }}</strong>
				</button>
				<p ng-show="isSearch" align="center">
					<ion-spinner icon="lines"></ion-spinner>
				</p>
				<p class="assertive" align="center" ng-show="isError">
					<i class="icon ion-android-warning">
						{{ error_msg }}
					</i> 
				</p>
			</a>
			<div data-tap-disabled="true" ng-show="isCompass">
				<leaflet id="map_compass"
			       	 geojson="geojson"
			       	 center="center"
			         defaults="defaults">
				</leaflet>
			</div>
		</div>
  </ion-content>
</ion-view>
