<ion-view view-title="Dashboard" hide-nav-bar="true">
	<ion-header-bar align-title="left" class="bar-positive">
		<h1 class="title"><a href="#/tab/home"><img src="img/logo/logo-gal_tra_small.png"></img></a></h1>
		<div class="buttons">
			<button class="button"><i class="icon ion-ios-more"></i></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header">

	<div id="home"></div>

  	<div class="list" 
  		 collection-repeat="weather in weathers"
  		 item-width="100%"
    	 item-height="180px">
		<a class="item item-avatar" href="#">
	      <img ng-src="{{ weather.forecast[0].weather[0].icon | weather }}" />
	      <h2><strong>{{ weather.item.name }}</strong></h2>
			<div class="row" ng-repeat="forecast in weather.forecast | limitTo:3">
				<div class="col">
				<i class="icon ion-ios-time-outline"> {{ forecast.dt_txt | forecast_date}}</i> <i class="{{ forecast.weather[0].icon | weather_icon }}"></i>
				</div>
				<div class="col">
				<i class="icon icon-058"> {{ forecast.main.temp_min | number:0 }} - {{ forecast.main.temp_max | number:0 }} C° </i>
				</div>
				<div class="col">
				<img ng-src="{{ forecast.wind | wind_img }}" width="16%" height="16%" />
				</div>
			</div>
		</a>
	</div>

	</ion-content>
</ion-view>

<script src="lib/vegas/dist/vegas.min.js"></script>
<script src="lib/bg-slider.js"></script>
