<!--
<ion-view view-title="Itinerari" hide-nav-bar="true">
-->
<ion-view class="dish" ion-cover-header="220" hide-nav-bar="true">

  <ion-header-bar class="bar-positive dish-header">
    <h1 class="title">GAL Capo di S.Maria di Leuca</h1>
  </ion-header-bar>
  
    <!--
    <h1 class="title"><a href="#/tab/home"><img src="img/logo/logo-gal_tra_small.png"></img></a></h1>
    <div class="buttons">
      <button class="button" ng-click="download()"><i class="icon ion-ios-cloud-download"></i></button>
    </div>
    -->

  
  <!--
  <div class="bar bar-subheader bar-positive">
      <h4 class="title">Selezionare uno degli itinerari</h4>
    </div>
  -->

  <ion-content>

    <img class="cover-img" src="img/bg/cover.jpg"/>

    <div class="row">
      <div class="col">
        <img class="profile-img" src="img/logo/logo-profile.png"/>
      </div>
      <div class="col col-75"> <h4>{{ ui[0] }}</h4>
        <p>
        {{ ui[1] }}
        </p>
      </div>
    </div>

      <div class="list card" 
           collection-repeat="route in routes">

        <a class="item item-thumbnail-left item-text-wrap" href="#/tab/map/{{route._content}}/{{route._categories}}" style="background-color: {{route.color}}">
          <img src="{{ route.image }}">
          <h2 style="color: #FFFFFF">{{ route.title }}</h2>
        </a>

      </div>
        
  </ion-content>

  <ion-side-tabs on-expand="tabExpand(index)" on-collapse="tabCollapse(index)">
    
    <ion-side-tab class="dark-bg" style="border-radius: 10px;">
      
      <ion-side-tab-handle width="40" height="50" toggle="ion-ios-gear ion-ios-gear" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-ios-gear"></i></ion-side-tab-handle>
        
        <div class="list card">
          <a href="#" class="item item-icon-left" ng-click="download()">
            <i class="icon ion-ios-cloud-download"></i>
             Download dei dati
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-people"></i>
            Credits
          </a>
        </div>

        <div class="list">
          <h4 style="color: #FFFFFF">Scegli la lingua</h4>
          <ion-radio ng-model="language" ng-value="'it'" ng-change="setLanguage('it')">Italian</ion-radio>
          <ion-radio ng-model="language" ng-value="'en'" ng-change="setLanguage('en')">English</ion-radio>
        </div>
    </ion-side-tab>

  </ion-side-tabs>

</ion-view>
