body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.bg {
  height: 260px;
  text-align: center;
}

.bg-1 {
  background-image: url("../img/bg/01.jpg");
}

.bg-2 {
  background-image: url("../img/bg/02.jpg");
}

.bg-3 {
  background-image: url("../img/bg/03.jpg");
}

.camera {
  background-color: #ffffff;
  height:400px;
  width: 1200px;
  position: absolute;
  top:30px;
  z-index:2;
  background-color : transparent;
}

.awesome-marker i {
        font-size: 18px;
        margin-top: 8px;
    }

p {
  color: #555;
  font-family:"OpenSansRegular";
  font-size: 14px;
  line-height:21px;
}

.logo {
  float: right;
  color: #fff;
  font-family:"NexaBold";
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.15em;
  line-height: 30px;
  text-transform: uppercase;
}

.super-heading{
  font-family:"NexaLight";
  text-transform: uppercase;
  font-size: 96px;
  line-height: 103px;
  color: #030303; 
  font-weight: 200;
}

.promo-home {
  font-family:"NexaBold";
  text-transform: uppercase;
}

.promo-home-heading {
  font-size: 55px;
  line-height: 55px;
  color: #f0ff03;
  padding-bottom: 60px;
  padding-top: 20px;
}

.promo-home-subheading {
  font-size: 32px;
  line-height: 32px;
  color: #000000;
  padding-bottom: 30px;
  padding-top: 20px;
}

.promo-heading {
  font-family:"NexaBold";
  text-transform: uppercase;
  font-size: 55px;
  line-height: 55px;
  color: #121212;
  padding-bottom: 15px;
  padding-top: 20px;
}

.promo-heading-white {
  font-family:"NexaBold";
  text-transform: uppercase;
  font-size: 56px;
  line-height: 55px;
  color: #ffffff;
  padding-bottom: 15px;
  padding-top: 20px;
}

.promo-text{
  font-family:"OpenSansLight";
  font-size: 24px;
  line-height:31px;
  color: #888;
  margin-top: 20px;
  margin-bottom: 20px;
}

.promo-text-home{
  font-family:"OpenSansLight";
  font-size: 32px;
  line-height:31px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.warning-text{
  font-family:"OpenSansLight";
  font-size: 14px;
  line-height:31px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-heading{
  font-family:"NexaBold";
  text-transform: uppercase;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.sub-heading{
  font-family:"OpenSansLight";
  margin-bottom: 30px;
  font-size: 26px;
  line-height:33px;
  color: #000000;
  font-weight: 200;
}

.small-heading{
  margin-bottom: 40px;
  font-weight: 200;
}

.small-heading > span{
  font-family:"OpenSansLight";
  font-weight: 200;
  font-size: 16px;
  line-height:23px;
  color: #fff;
  border: solid 1px #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}

.inner-heading{
  font-family:"OpenSansLight";
  font-weight: 200;
}

.caption{
  margin-bottom: 30px;
}

.caption > span{
  padding: 10px;
  background: #ccc;
  color: #222;
  font-family:"OpenSansLight";
  font-weight: 200;
  font-size: 16px;
  line-height:23px;
}

#home {
	width: 100%;
	height: 100%;
}

#map {
   width: 100%;
   height: 1024px;
}

#map_route {
   width: 100%;
   height: 1024px;
}

#map_explore {
   width: 100%;
   height: 320px;
}

#map_compass {
   width: 100%;
   height: 1024px;
}

#map_poi {
   width: 100%;
   height: 320px;
}

.compass {
    background: url(../img/compass/compass_380.png) no-repeat center;
    width: 380px;
    height: 480px;
    text-align: center;
}

.transparent {
    background-color: #ffffff;
    border: 0px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transparent p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.row {
  font-size: 14px;
  vertical-align: middle
}

.wind {
  font-size: 12px;
  vertical-align: middle
}

@-webkit-keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.slide-in{
   -webkit-animation: slideIn ease-in 1; 
  animation: slideIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}